*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(71, 143, 255);
    font-family: 'Poppins', sans-serif;
}

#app-container{
    margin: auto 0px;
}

#main-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10vh 3vw 0 3vw;
}

header{
    background-color:rgb(193, 93, 233);
}
footer{
    background-color: rgb(193, 93, 233);
    margin: 0 3vw 10vh 3vw;
    padding: 2vh;
    color: #fff;
}

i{
    font-size: 20px;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}
#navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#genres-in-navbar{
    font-size: 2rem;
}

.navbar-item-link{
   transition: 0.7s ease; 
}
.navbar-item-link:hover{
    cursor: pointer;
    color: black;
}

#hamburger-menu{
    display: none;
    cursor: pointer;
}

.line{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

@media(max-width: 768px){
    #hamburger-menu{
        display: block;
    }

    #navbar-menu{
        position: fixed;
        right: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(71, 143, 255);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .navbar-item{
        margin: 16px 0;
    }
    #navbar-menu.active{
        right: 0;
    }

    img{
        height: 180px;
        width: 150px;
    }

    .genre-modal-container.show{
        right: 8vw;
    }
}

#music-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

img{
    max-width: 400px;
    max-height: 300px;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(249, 156, 65);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}


.genre-modal-container{
    position: fixed;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    overflow: auto;
    transition: 0.7s ease;
    right: -300%;
    text-align: center;
    color: #fff;
    background-color: rgb(71, 141, 255);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(249, 156, 65);
    margin: 70px 0 0 0;
    padding: 10px;
    border-radius: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.genre-modal-container.show{
    transition: 0.7s ease;
    right: 30px;
}

.modal-music-item >img:hover{
    cursor: pointer;
}

.info-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.one{
    grid-row: 1/2;
    grid-column: 1/2;
}
.two{
    grid-row: 1/2;
    grid-column: 2/3;
}
.three{
    grid-row: 2/3;
    grid-column: 1/2;
} 
.four{
    grid-row: 2/3;
    grid-column: 2/3;
}
.five{
    grid-row: 3/4;
    grid-column: 1/2;
}

.modal-music-item img{
    width: 100px;
    height: 100px;
}
.modal-music-item{
    margin-bottom: 20px;
    text-align: center;
}

#pic-container{
    margin-top: 20px;
}
#details-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-container{
    margin-top: 20px;
}

#music-container{
    margin: 20px auto;
    padding: 0 10px;
    background-color: rgba(53, 5, 58, 0.927);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 4%;
    color: #fff;
}
audio{
    margin: auto;
    padding: 0 5px;
}