*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(54, 5, 58), rgb(229, 26, 183));
    font-family: 'Poppins', sans-serif;
}

h1{
    color: rgba(255, 255, 255, 0.906);
    text-align: center;
}

#app-container{
    margin: auto 0px;
}

#main-container{
    display: flex;
    flex-direction: column;
    margin: 4vh 2vw 0 2vw;
}

footer{
    margin: 0 3vw 0 3vw;
    padding: 2vh 0 0 0;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

i{
    font-size: 20px;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}
#navbar{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

#navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    opacity: 0.95;
}

#genres-in-navbar{
    font-size: 2rem;
}

.navbar-item-link{
   transition: 0.7s ease; 
}
.navbar-item-link:hover{
    cursor: pointer;
    color: black;
}

#hamburger-menu{
    display: none;
    cursor: pointer;
}

.line{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

@media(max-width: 768px){

    #hamburger-menu{
        display: block;
    }

    #navbar-menu{
        position: fixed;
        right: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        background: linear-gradient(rgb(54, 5, 58), rgb(229, 26, 183));
    }

    .navbar-item{
        margin: 16px 0;
    }
    #navbar-menu.active{
        right: 0;
    }

    img{
        height: 180px;
        width: 150px;
    }

    .genre-modal-container.show{
        right: 0%;
    }
}

#music-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.custom-audio-controls{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.custom-audio-controls > div >i{
    font-size: 30px;
}
.custom-audio-controls >div >i:hover{
    cursor: pointer;
}

.volume-container > i{
    font-size: 20px;
}
.volume-container > i:hover{
    cursor: pointer;
}

.progress-bar-container{
    width: 100%;
    background-color: rgba(53, 5, 58, 0.283);

}
#progress-bar{
    width: 1%;
    height: 5px;
    background-color: rgb(54, 5, 58);
}

.timer-container{
    display: flex;
    justify-content: space-between;
}

.controls-with-volume{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-left: 70px;
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

img{
    max-width: 400px;
    max-height: 300px;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}


.genre-modal-container{
    position: fixed;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow: auto;
    transition: 0.7s ease;
    right: -300%;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgb(54, 5, 58), rgb(229, 26, 183));
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    margin: 70px 0 0 0;
    padding: 10px;
    border-radius: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.genre-modal-container.show{
    transition: 0.7s ease;
    right: 0;
}

.info-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.one{
    grid-row: 1/2;
    grid-column: 1/2;
}
.two{
    grid-row: 1/2;
    grid-column: 2/3;
}
.three{
    grid-row: 2/3;
    grid-column: 1/2;
} 
.four{
    grid-row: 2/3;
    grid-column: 2/3;
}
.five{
    grid-row: 3/4;
    grid-column: 1/2;
}

.modal-music-item img{
    width: 100px;
    height: 100px;
    margin: 0 10px;
}
.modal-music-item{
    margin-bottom: 20px;
    text-align: center;
    transition: 0.7s ease;
}
.modal-music-item:hover{
    cursor: pointer;
    background-color: rgba(53, 5, 58, 0.2);
    border-radius: 5%;
    margin: auto;
}

#pic-container{
    margin-top: 40px;
}
#details-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-container{
    margin-top: 20px;
}

#music-container{
    margin: 20px auto;
    padding: 0 10px;
    background-color: rgba(53, 5, 58, 0.58);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 4%;
    color: #fff;
}
audio{
    margin: auto auto 10px auto;
    padding: 0 5px;
}

#put-id-here{
    opacity: 0;
}